<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>CIS 197 hw4</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" />
    <script src="/lib/js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/js/mustache.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/js/backbone-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
      
  </head>
  <body>
